/* screen - plats-4 */

.plats-4 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2240px;
  overflow: hidden;
  width: 1440px;
}

.plats-4 .overlap-group4 {
  height: 840px;
  margin-right: -127px;
  margin-top: -30px;
  position: relative;
  width: 1567px;
}

.plats-4 .group-134 {
  align-items: flex-start;
  display: flex;
  gap: 47px;
  height: 839px;
  left: 514px;
  min-width: 1053px;
  position: absolute;
  top: 0;
}

.plats-4 .recettes {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 70px;
  min-height: 24px;
  min-width: 102px;
  white-space: nowrap;
}

.plats-4 .overlap-group {
  align-items: flex-start;
  background-color: var(--daintree);
  border-radius: 450px/419.5px;
  display: flex;
  gap: 11px;
  height: 839px;
  min-width: 900px;
  padding: 62px 14px;
}

.plats-4 .actualites {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 8px;
  min-height: 24px;
  min-width: 123px;
  white-space: nowrap;
}

.plats-4 .overlap-group1 {
  height: 661px;
  position: relative;
  width: 629px;
}

.plats-4 .ellipse-2 {
  height: 634px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 629px;
}

.plats-4 .rectangle-28 {
  background-color: var(--daintree);
  border: 1px solid;
  border-color: var(--buff);
  border-radius: 10px;
  height: 41px;
  left: 499px;
  position: absolute;
  top: 0;
  width: 97px;
}

.plats-4 .title {
  left: 67px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 178px;
  white-space: nowrap;
  width: 717px;
}

.plats-4 .je-vous-propose-aujo {
  left: 67px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 254px;
  width: 588px;
}

.plats-4 .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 398px;
  left: 67px;
  position: absolute;
  top: 442px;
  width: 924px;
}

.plats-4 .text {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 924px;
}

.plats-4 .text15 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 924px;
}

.plats-4 .group-138 {
  align-items: center;
  background-color: var(--daintree);
  display: flex;
  height: 104px;
  left: 0;
  min-width: 1440px;
  position: absolute;
  top: 30px;
}

.plats-4 .rectangle-29 {
  cursor: pointer;
  height: 104px;
  object-fit: cover;
  width: 138px;
}

.plats-4 .accueil {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  margin-left: 433px;
  min-height: 24px;
  min-width: 86px;
  white-space: nowrap;
}

.plats-4 .recettes-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  margin-left: 44px;
  min-height: 24px;
  min-width: 102px;
  white-space: nowrap;
}

.plats-4 .bibliothque {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  margin-left: 37px;
  min-height: 24px;
  min-width: 145px;
  white-space: nowrap;
}

.plats-4 .astuces {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  margin-left: 34px;
  min-height: 24px;
  min-width: 94px;
  white-space: nowrap;
}

.plats-4 .group-129 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 58px;
  margin-top: 1.0px;
  min-width: 99px;
}

.plats-4 .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--buff);
  border: 1px solid;
  border-color: var(--supernova);
  border-radius: 10px;
  display: flex;
  height: 41px;
  min-width: 97px;
  padding: 11px 14px;
}

.plats-4 .sidentifier {
  letter-spacing: 0;
  line-height: normal;
  min-height: 18px;
  white-space: nowrap;
}

.plats-4 .overlap-group1-1 {
  align-items: flex-start;
  background-color: var(--daintree);
  border: 1px solid;
  border-color: var(--buff);
  border-radius: 10px;
  display: flex;
  height: 41px;
  margin-left: 40px;
  margin-top: 1.0px;
  min-width: 97px;
  padding: 10px 14px;
}

.plats-4 .sinscrire {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  min-height: 18px;
  white-space: nowrap;
}

.plats-4 .flex-container-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 477px;
  margin-right: 20.0px;
  margin-top: 53px;
  position: relative;
  width: 1286px;
}

.plats-4 .text-1 {
  white-space: nowrap;
}

.plats-4 .group-146 {
  align-items: center;
  align-self: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6453d5a5493b10f69c06f39b/releases/6453e497c5ce4fc9b1da4d1e/img/rectangle-37.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 530px;
  justify-content: flex-end;
  margin-right: 8.0px;
  margin-top: 67px;
  min-width: 1168px;
  padding: 0 484px;
}

.plats-4 .overlap-group2 {
  align-items: center;
  background-color: var(--alto-2);
  border-radius: 96px;
  display: flex;
  height: 192px;
  justify-content: flex-end;
  min-width: 192px;
  padding: 0 50px;
}

.plats-4 .polygon-1 {
  height: 87px;
  width: 75px;
}

.plats-4 .vector-container {
  align-items: flex-start;
  display: flex;
  gap: 37px;
  margin-right: 54px;
  margin-top: 35px;
  min-width: 132px;
}

.plats-4 .vector {
  height: 42px;
  width: 42px;
}

.plats-4 .vector-1 {
  cursor: pointer;
  height: 43px;
  width: 53px;
}

.plats-4 .overlap-group3 {
  align-items: flex-start;
  background-color: var(--daintree);
  display: flex;
  gap: 986px;
  height: 115px;
  justify-content: flex-end;
  margin-right: 4px;
  margin-top: 110px;
  min-width: 1441px;
  padding: 0 22px;
}

.plats-4 .copyright {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  min-height: 24px;
  min-width: 268px;
  white-space: nowrap;
}

.plats-4 .rectangle-35 {
  cursor: pointer;
  height: 111px;
  object-fit: cover;
  width: 111px;
}

.plats-4 .text-3 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1286px;
}
